* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  h1 { 
    color: purple; 
  }
  
  h2 {   
    color: Blue;
    font-size:1.5em;
  }
  
  #img-1 { height:400px; };

/*

  section { 
    display: block;
    color: green
  }
  
  section h1 {
    color: brown
  }
  
  section form {
    border-color: green;
    border-width:thin;
    color: green;
    border-width:5px; 
    border-style:solid;
    width: 80%;
    padding: 10px;
    display:inline-block;
    justify-content:space-around;
    margin: 6px;
  }
  
  
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  */

  /* Good from instructor
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  */
  /* Good from instructor
  .container section form {
    width: 400px;
    height: 400px;
    border: 1px solid  red;
    display: inline-block;
  }
  */
  /*
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 15%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  */




